<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
<h1>Welcome!</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>sign in</h2>
             <form action="/login">
                <input type="submit" value="sign in"/>
            </form>
            <h2>register</h2>
            <form action="/user/save">
                <input type="submit" value="register"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>
